<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyfgoup.mapper.DepartmentMapper">
    <select id="selectAllDepartment" resultType="Department">
    select * from department
  </select>

    <select id="getById" resultType="Department">
        select *
        from testmybatis.department
        where id = #{id}
    </select>

</mapper>